html, body {
  margin: 0;
  padding: 0;
  height: 100%;

  font-family: monospace;
  background-color: #586e75;

  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
}
ul {
  margin: 0;
  padding: 10;
  padding-right: 23px;
  list-style:none;
  height: 0px;

  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
}
.log {
  background-color: #002b36;
  color: #fff;
  font-size: 12pt;
  min-width: 28px;

  margin: 0;
  padding: 4;
  display: table-cell;
  overflow: auto;

  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
}
.log-entry {
  border: thin solid rgba(0,0,0,0);
  margin: 2px;

  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
}
.log-token {
  margin: 2;
  padding: 2;

  border: thin solid rgba(0,0,0,0);

  display: inline;
}
#main {
  overflow: auto;
  display: table;
  height: 100%;
  top: 0; right: 0; bottom: 0; left: 0;

  border-spacing: 4;

  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
}

.p-text {
  color: #fff;
  font-size: 12pt;
  background-color: #457;
  white-space: pre-wrap;

  display: table-cell;
  outline: none;
  margin: 20;

  min-width: 300px;
  width: 300px;
  height: 100%;
}
.str {
  display: inline;
}

.cursor, .box-div {
  background-color: #ff0000;
  display: inline-block;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
}
